*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
body{
    background-color: #f3f3f3;
}
#navigationbar_container{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 50;
}
#navigationbar_container .navigationbar_bcakground{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    height: 80px;
}
#navigationbar_container .navigationbar_bcakground .logo{
 
   align-self: center;
}
#navigationbar_container .navigationbar_bcakground .logo img{
    width:190px;

  /* height:auto; */
}
#navigationbar_container .navigationbar_bcakground .social_icon{
    align-self: center;
    color: #777;
}
#navigationbar_container .navigationbar_bcakground .social_icon a{
    text-decoration: none;
}
#navigationbar_container .navigationbar_bcakground .social_icon i{
    padding: 7px;
    color: #777;
}
#navigationbar_container .navigationbar_bcakground .menu {
    align-self: center;
    justify-self: end;
    font-weight: bold;
}
#navigationbar_container .navigationbar_bcakground .menu ul{
    
    display: flex;
    list-style:none;
}
#navigationbar_container .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: rgb(51, 50, 50);
    padding: 20px 20px;
    align-items:center;
}
#navigationbar_container .menu ul li:first-child{
    background-color: #c72727;
}
#navigationbar_container .navigationbar_bcakground .menu ul li a:hover{
    background-color: #f3f3f3;
}

/* Showcase */
 #showcase_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    background-image: url(/images/featured.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#showcase_container{
    position: relative;
    top:80px;
    left:0;
}
#showcase_container::before{
    content: '';
    width:100%;
    height:100%;
    position: absolute;
    opacity: 0.5;
    background-color: black;
}
#showcase_container .content{
    text-align: justify;
    align-self: center;
    padding-left: 180px;
    color: white;
    z-index: 10;
}
#showcase_container .content .sports{
    display: inline-block;
    padding: 8px 9px;
    background-color: #f99500;
    border-radius: 20px;
    font-size: 9px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
}
#showcase_container .content h1{
    margin-top: 10px;
}
#showcase_container .content p{
    margin-top: 16px;
    font-weight: lighter;
}
#showcase_container .content .readmore{
    display: inline-block;
    padding: 13px 25px;
    background-color: #c72727;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    margin-top: 16px;
}

#editor_container  h1{
    margin-left: 11rem;
    font-size: 20px;
    padding-top:6rem;

}

#editor_container .editor_images{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 260px 400px 260px;
    max-width: 1000px;
    margin: auto;
    grid-gap: 10px;
    margin-top: 20px;
}
#editor_container .editor_images .editors{
    background-color: white;
    padding: 16px;
    
}
#editor_container .editor_images .imag1_container{
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
}
 #editor_container .editor_images .imag1_container  img{
    height: 100%;
    width: 100%;
} 
#editor_container .editor_images .imag7_container{
    grid-column: 2/span 2;
}

#editor_container .editor_images .container1_content{

    width: 100%;
    margin-top: 50px;
}
#editor_container .editor_images .container1_content a{
    display: inline-block;
    padding: 8px 14px;
    background-color: #a66bbe;
    border-radius: 18px;
    font-size: 9px;
    text-decoration: none;
    color: white;
}
#editor_container .editor_images .container1_content h3{
    margin-top: 10px;
}
#editor_container .editor_images .container1_content p{
    margin-top: 10px;
    line-height: 1.5rem;
}
#editor_container .editor_images .imag2_container{
   background-color: #333;
   color: white;
}
#editor_container .editor_images .container2_content a{
    display: inline-block;
    padding: 8px 14px;
    background-color: #a66bbe;
    border-radius: 18px;
    font-size: 9px;
    text-decoration: none;
    color: white;
    margin-top: 40px;
}
#editor_container .editor_images .imag2_container a{
    background-color:  #f99500;
}
#editor_container .editor_images .container2_content h3{
    margin-top: 10px;
}
#editor_container .editor_images .container2_content p{
    margin-top: 10px;
    line-height: 1.5rem;
}


#editor_container .editor_images .imag3_container{
    
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
   
}
 #editor_container .editor_images .imag3_container  img{
 
    width: 100%;
} 
#editor_container .editor_images .container3_content{
    width: 100%;
    align-self: center;
}
#editor_container .editor_images .container3_content a{
    display: inline-block;
    padding: 8px 14px;
    background-color: #009cff;
    border-radius: 18px;
    font-size: 9px;
    text-decoration: none;
    color: white;
}
#editor_container .editor_images .container3_content h3{
    margin-top: 10px;
}
#editor_container .editor_images .container3_content p{
    margin-top: 10px;
    line-height: 1.5rem;
}


#editor_container .editor_images .imag4_container{
    
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
   
}
 #editor_container .editor_images .imag4_container  img{
 
    width: 100%;
} 
#editor_container .editor_images .container4_content{
    width: 100%;
    align-self: center;
}
#editor_container .editor_images .container4_content a{
    display: inline-block;
    padding: 8px 14px;
    background-color: #f99500;
    border-radius: 18px;
    font-size: 9px;
    text-decoration: none;
    color: white;
}
#editor_container .editor_images .container4_content h3{
    margin-top: 10px;
}
#editor_container .editor_images .container4_content p{
    margin-top: 10px;
    line-height: 1.5rem;
}




#editor_container .editor_images .imag5_container{
    
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
   
}
 #editor_container .editor_images .imag5_container  img{
 
    width: 100%;
} 
#editor_container .editor_images .container5_content{
    width: 100%;
    align-self: center;
}
#editor_container .editor_images .container5_content a{
    display: inline-block;
    padding: 8px 14px;
    background-color: #009cff;
    border-radius: 18px;
    font-size: 9px;
    text-decoration: none;
    color: white;
}
#editor_container .editor_images .container5_content h3{
    margin-top: 10px;
}
#editor_container .editor_images .container5_content p{
    margin-top: 10px;
    line-height: 1.5rem;
}


#editor_container .editor_images .imag6_container{
    background-color: #c72727;;
    color: white;
    
 }
 #editor_container .editor_images .container6_content a{
     display: inline-block;
     padding: 8px 14px;
     background-color:  #f99500;
     border-radius: 18px;
     font-size: 9px;
     text-decoration: none;
     color: white;
     margin-top: 40px;
 }

 #editor_container .editor_images .container6_content h3{
     margin-top: 10px;
 }
 #editor_container .editor_images .container6_content p{
     margin-top: 10px;
     line-height: 1.5rem;
}
#editor_container .editor_images .imag7_container{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 260px;
    grid-gap: 16px;
    
}
 #editor_container .editor_images .imag7_container  img{
    
    height: 100%;
    width: 100%;
} 
#editor_container .editor_images .container7_content{
    height:260px;
    width: 100%;
    margin-top: 50px;
    
}

#editor_container .editor_images .container7_content h3{
    margin-top: 10px;
}
#editor_container .editor_images .container7_content p{
    margin-top: 10px;
    line-height: 1.5rem;
}
 


#footer{
    background-color:  #333;;
    margin-top: 30px;
    color: white;
}
/* #footer .footer_background{
    max-width: 1000px;
   margin: auto;
} */
#footer .footer_background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 250px 50px; */
    grid-gap: 20px 20px;
    padding: 32px;
    margin: 0px 150px;
}
#footer .footer_background .content5{
    grid-column: 1/span 4;
    background-color: #444;
}
#footer .footer_background .content5 p{
  text-align: center;
  padding: 10px 0;
}
#footer .footer_background .content1 img{
    width: 70%;
}
#footer .footer_background .content1 p{
    font-size: 15px;
    margin-top: 10px;
}
#footer .footer_background .content2 h3{
    font-size: 17px;
    font-weight: bold;
} 
#footer .footer_background .content2 p{
    font-size: 15px;
    margin-top: 10px;
}
#footer .footer_background .content2 input{
    width: 95%;
    height:30px;
    margin-top: 10px;
    padding-left: 10px;
}
#footer .footer_background .content2 button{
    width: 95%;
    height:30px;
    margin-top: 10px;
    background-color: #c72727;
    border: none;
    color: white;
}
#footer .footer_background .content3 h3{
    font-size: 17px;
}
#footer .footer_background .content3 ul li{
    list-style: none;
    border-bottom: 2px dotted  #444;
    width: 90%;
    padding: 10px 0;
}
#footer .footer_background .content3 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#footer .footer_background .content4 h2{
    font-size: 20px;
}
#footer .footer_background .content4 p{
    font-size: 15px;
    margin-top: 10px;
}
#footer .footer_background .content4 a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #f99500;
    color: white;
    margin-top: 10px;
    font-size: 15px;
}
#footer .footer_background .content5 p{
    font-size: 13px;
}
#footer .footer_background .content5 p{
    text-align: center;
    padding: 10px 0;
  }

